<div class="scores">
  <div class="statement-score">{{score}}</div>
  {{#if support}}
    <div class="indicator support"></div>
    {{score-indicator model 'support'}}
  {{/if}}

  {{#if opposition}}
    <div class="indicator opposition"></div>
    {{score-indicator model 'opposition'}}
  {{/if}}

  {{#if objection}}
    <div class="indicator objection"></div>
    {{score-indicator model 'objection'}}
  {{/if}}
</div>
<div class="statement-body">{{body}}</div>