<!doctype html>
<html>
  <head>
    <title>The Debate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="js/lib/handlebars-1.1.2.js"></script>
    <script src="js/lib/ember-1.6.1.js"></script>
    <script src="js/lib/ember-data.js"></script>
  </head>
  <body>
    <script type="text/x-handlebars">
      <div class="banner">
        <div class="container">
          <h1>{{#link-to 'debates'}}The Debate{{/link-to}}</h1>
          <p>Welcome to the debate</p>
        </div>
      </div>
      <div class="content">
        <div class="container">{{outlet}}</div>
      </div>
    </script>

    <%- include templates/debates-index.ejs -%>
    <%- include templates/debate -%>
    <%- include templates/statement -%>
    <%- include templates/statement-chain -%>
    <%- include templates/statement-partial -%>

    <script src="js/application.js"></script>
    <script src="js/router.js"></script>
    <script src="js/models/debate.js"></script>
    <script src="js/models/statement.js"></script>
    <script src="js/controllers/debate_controller.js"></script>
    <script src="js/controllers/debates_controller.js"></script>
    <script src="js/controllers/statement_controller.js"></script>
  </body>
</html>
