<div class="detail">
  <div class="context">
    {{#link-to 'debate' debate}}
      <div class="debate">
        <div class="debate-score">{{debate.score}}</div>
        <div class="debate-title">{{debate.title}}</div>
      </div>
    {{/link-to}}
    {{#if parent}}
      {{render 'statements/chain' parent}}
    {{/if}}
    <div class="statement current">
      {{render 'statements/detail' model}}
    </div>
  </div>
  <div class="controls">
    <button id="view-responses" class="btn btn-primary">Responses</button>
    <button id="view-objections" class="btn btn-primary">Objections</button>
    <button id="create-response" class="btn btn-primary">Respond</button>
  </div>
  <div class="responses">
    {{#each response in responses}}
      {{#link-to 'statement' response}}
        <div class="statement">
          {{render 'statements/detail' response}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>
  {{render 'statements/create' model}}
</div>