<div class="detail">
  <div class="context">
    {{#link-to 'debate' debate}}
      <div class="debate">
        <div class="debate-score">{{debate.score}}</div>
        <div class="debate-title">{{debate.title}}</div>
      </div>
    {{/link-to}}
    <div class="chain">
      {{#if parent}}
        {{render 'statements/chain' parent}}
      {{/if}}
    </div>
    <div class="current">
      {{render 'statements/item' model}}
    </div>
  </div>
  <div class="controls">
    {{#link-to 'responses.index' model classNames="show-responses btn btn-primary"}}Responses{{/link-to}}
    {{#link-to 'objections.index' model classNames="show-objections btn btn-primary"}}Objections{{/link-to}}
    {{#link-to 'objections.create' classNames="new-objection btn btn-primary action"}}Object{{/link-to}}
    {{#link-to 'responses.create' classNames="new-response btn btn-primary action"}}Respond{{/link-to}}
  </div>
  {{outlet}}
</div>